<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Secv.RAD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Secv.RAD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Secv.RAD.Properties.Settings>
            <setting name="CamposTransacionais" serializeAs="String">
                <value>dathor;datinc;usutra;usuinc</value>
            </setting>
            <setting name="DiretororioPadrao" serializeAs="String">
                <value>d:\Chico\Trabalhos\</value>
            </setting>
            <setting name="NameSpaceDefault" serializeAs="String">
                <value>Acontep.AD</value>
            </setting>
            <setting name="TerminacaoClasse" serializeAs="String">
                <value>AD</value>
            </setting>
            <setting name="MetodoGetUser" serializeAs="String">
                <value>System.Threading.Thread.CurrentPrincipal.Identity.Name</value>
            </setting>
            <setting name="NomeDefaultMetodoDelete" serializeAs="String">
                <value>Apagar</value>
            </setting>
            <setting name="NomeDefaultMetodoUpdate" serializeAs="String">
                <value>Alterar</value>
            </setting>
            <setting name="NomeDefaultMetodoInsert" serializeAs="String">
                <value>Inserir</value>
            </setting>
            <setting name="NomeDefaultMetodoSelect" serializeAs="String">
                <value>Obter</value>
            </setting>
            <setting name="NomeDefaultMetodoSelectComParametros" serializeAs="String">
                <value>ObterPor_</value>
            </setting>
            <setting name="NomePrefixoCamposManutencao" serializeAs="String">
                <value>original_</value>
            </setting>
            <setting name="MetodoAdicionarParametro" serializeAs="String">
                <value>AdicionarParametro</value>
            </setting>
            <setting name="SimboloParametro" serializeAs="String">
                <value>@</value>
            </setting>
            <setting name="SimboloParametroSQL" serializeAs="String">
                <value>@</value>
            </setting>
            <setting name="ClasseConsultaBanco" serializeAs="String">
                <value>BdUtil</value>
            </setting>
            <setting name="MetodoObterDataTable" serializeAs="String">
                <value>ObterDataTable</value>
            </setting>
            <setting name="MetodoExecuteScalar" serializeAs="String">
                <value>ExecuteScalar</value>
            </setting>
            <setting name="MetodoExecuteNonQuery" serializeAs="String">
                <value>ExecuteNonQuery</value>
            </setting>
            <setting name="NameSpaceClasseDado" serializeAs="String">
                <value>Acontep.Dado</value>
            </setting>
            <setting name="UsarNullEmLike" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SimboloCoringaParaLike" serializeAs="String">
                <value>'%'</value>
            </setting>
            <setting name="SimboloJuncaoString" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="UsarSimboloCoringaParaLike" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BancoSQL" serializeAs="String">
                <value>True</value>
            </setting>
        </Secv.RAD.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Secv.RAD.Properties.Settings>
            <setting name="StringConexao" serializeAs="String">
                <value>Data Source=francisconb\sqlexpress;Initial Catalog=Acontep; Trusted_Connection = yes;</value>
            </setting>
        </Secv.RAD.Properties.Settings>
    </userSettings>
</configuration>