<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<appSettings>
	<add key="PathRepositorioTransfer" value="C:\Temp\"/>
	<add key="PathRepositorioSistemas" value="C:\Temp\"/>
	<add key="PathRepositorioTabelas" value="C:\Temp\"/>
	<add key="AmbienteOficial" value="False"/>
  <add key="IDEstadoPadrao" value="25"/>
</appSettings>
