<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings file="user.config">
		<add key="IPProxy" value="127.0.0.2"/>
		<add key="AmbienteOficial" value="False"/>
		<!--<add key="MailErro" value="sistemas@Acontep.com.br"/>-->
		<add key="PathRepositorioTransfer" value="D:\Temp\Transfer\"/>
		<add key="PathRepositorioSistemas" value="D:\Temp\Sistemas\"/>
		<add key="PathRepositorioTabelas" value="D:\Temp\Tabelas\"/>
		<add key="wsCial.wsCial" value="http://Acontepnet/wsAcontep.Net/Intranet/wsCial.asmx"/>
		<add key="ConfigTamanhoForm" value="Pequeno"/>
		<add key="ConfigTamanhoForm" value="Pequeno"/>
	</appSettings>
	<connectionStrings configSource="ConnectionStrings.config"></connectionStrings>
	<system.diagnostics>
		<switches>
			<!--
			Tipos de mensagem para cada value atribuido a value de um Switch
			"0": Desativado
			"1": Erro
			"2": Erro e Aviso
			"3": Erro, Aviso e Informacoes
			"4": Erro, Aviso, Informacoes e Detalhes
			-->
			<!-- Log produzido na UI -->
			<add name="TraceSwitchDebugUI" value="2"/>
			<!-- Log produzido no acessos a dados e negocio, marque 4 se desejar visualizar os sql's executados -->
			<add name="TraceSwitchDebugNg" value="2"/>
			<!-- Log produzido em qualquer lugar que nao se caracterize web ou negocio -->
			<add name="TraceSwitchGeral" value="2"/>
		</switches>
		<trace autoflush="true">
			<listeners>
				<remove name="Default"/>
				<add name="ArquivoListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Temp\myListener.log"/>
				<add name="EmailListener" type="Acontep.Diagnostico.EmailTraceListener, Acontep"/>
				<!--			
				<add name="WebPageTraceListener"
    type="System.Web.WebPageTraceListener, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
				<add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
				<add name="EmailListener" type="Acontep.Sistema.Diagnostico.EmailListener, Acontep.Sistema" initializeData="AcontepCorp"/>
				<add name="EventLogTraceListener" type="System.Diagnostics.EventLogTraceListener" initializeData="AcontepCorp"/>
				<add name="EmailListener" type="Acontep.Sistema.Diagnostico.EmailListener, Acontep.Sistema" initializeData="Acontep"/>
				-->
			</listeners>
		</trace>
	</system.diagnostics>
	<system.web>
		<globalization culture="pt-BR" uiCulture="pt-BR"/>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
		</httpHandlers>
		<sessionState timeout="60" mode="StateServer"/>
		<authentication mode="Forms">
			<forms defaultUrl="~/Default.aspx" cookieless="AutoDetect" timeout="60"/>
		</authentication>
		<membership defaultProvider="AcontepMembershipProvider">
			<providers>
				<remove name="AspNetSqlMembershipProvider"/>
				<add name="AcontepMembershipProvider" type="Acontep.Manutencao.Seguranca.AcontepMembershipProvider, Acontep.Manutencao" requiresQuestionAndAnswer="false" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" enablePasswordReset="true" enablePasswordRetrieval="false" requiresUniqueEmail="false"/>
			</providers>
		</membership>
		<siteMap enabled="true" defaultProvider="SistemaPlantaSiteMap">
			<providers>
				<add name="ModuloFuncaoSiteMap" type="Acontep.Manutencao.Seguranca.ModuloFuncaoSiteMapProvider, Acontep.Manutencao" securityTrimmingEnabled="false" timmedCache="00:00:00"/>
				<add name="SistemaPlantaSiteMap" type="Acontep.Manutencao.Seguranca.SistemaPlantaSiteMapProvider, Acontep.Manutencao" securityTrimmingEnabled="false" timmedCache="00:00:00"/>
			</providers>
		</siteMap>
		<!---->
		<customErrors defaultRedirect="~/Erro/Default.htm" mode="RemoteOnly">
			<error statusCode="403" redirect="~/Erro/Erro403.htm"/>
			<error statusCode="404" redirect="~/Erro/Erro404.htm"/>
		</customErrors>
		<pages theme="Standard" maintainScrollPositionOnPostBack="false">
			<controls>
				<add assembly="ExtendControls" namespace="ExtendControls.GridViewCustom" tagPrefix="x"/>
				<add assembly="ExtendControls" namespace="ExtendControls.WebControlColection" tagPrefix="x"/>
				<add assembly="FredCK.FCKeditorV2" namespace="FredCK.FCKeditorV2" tagPrefix="FCKeditorV2"/>
				<add assembly="eWorld.UI" namespace="eWorld.UI" tagPrefix="ew"/>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" namespace="Microsoft.Reporting.WebForms" tagPrefix="rsweb"/>
			</controls>
		</pages>
		<!-- 
		<trace requestLimit="1000" enabled="true" pageOutput="true" localOnly="true"/>
			 
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="ExtendControls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
				<add assembly="FredCK.FCKeditorV2, Version=2.2.2106.29420, Culture=neutral, PublicKeyToken=4f86767c9b519a06"/>
				<add assembly="eWorld.UI, Version=2.0.5.2356, Culture=neutral, PublicKeyToken=24d65337282035f2"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>
		</compilation>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="sistemas@Acontep.com.br">
				<network host="central2k" port="25" defaultCredentials="true"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
