<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<clear />
	<add name="Geral" connectionString="Data source=centraldev;Initial Catalog=SISAcontepTESTE;uid=sa;pwd=centraldevsa" providerName="System.Data.SqlClient"/>
	<!--			
		<add name="Geral" connectionString="Data source=centraldev;Initial Catalog=SISAcontepTESTE;uid=sa;pwd=centraldevsa" providerName="System.Data.SqlClient"/>
		<add name="Geral" connectionString="Data source=centraldev;Initial Catalog=SISAcontepHOMOLOGACAO;uid=sa;pwd=centraldevsa" providerName="System.Data.SqlClient"/>
		<add name="Geral" connectionString="Data source=.;Initial Catalog=sisAcontepteste;uid=sa;pwd=localsa" providerName="System.Data.SqlClient"/>
		<add name="Geral" connectionString="Data source=centraldv;Initial Catalog=SisAcontepMkt;uid=sa;pwd=centraldvsa" providerName="System.Data.SqlClient"/>
		<add name="Geral" connectionString="Data source=centralsql;Initial Catalog=SISAcontep;uid=Us_SisAcontep;pwd=SQlCentralSQLSis" providerName="System.Data.SqlClient"/>
		<add name="Geral" connectionString="Data source=centraldv;Initial Catalog=sisAcontepfinanceiro;uid=sa;pwd=centraldvsa" providerName="System.Data.SqlClient"/>
	-->

</connectionStrings>
